@*Import the model*@
@model Trial_Core_App.Models.Item

@{
    var items = new List<string> {"Adi","Padi","Badi"};
}

<ul>
    @foreach(var string_item in items)
    {
        <li>@string_item</li>
    }
</ul>
